title {
    background-color: #0e4f62;
}

.container div {
    background-color: #fffbce;
    padding: 20px;
    border: 1px solid #fffbce;
}

#header {
    grid-area: header;
    text-align: center;
    background-color: #ff5151;
}
#sidebar {
    grid-area: sidebar;
    height: 2vh;
    text-align: center;
    background-color: #fffbce;
}
#content {
    grid-area: content;
    height: 100vh;
}
#footer {
    grid-area: footer;
    background-color: #fffbce;
}

.main-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fffbce;
    padding: 20px;
    border: 1px solid #fffbce;
}
.classeblocos {
    font-family: sans-serif;
}
.columns {
    display: flex;
    flex-wrap: wrap;
    background-color: #fffbce;
}
.column {
    border: 5px solid white;
    flex: 1;
    padding: 100px;
}
.main-column {
    flex: 1;
}

.categorias {
    font-weight: bold;
}

.categorias {
    font-family: courier, arial, helvetica;
    color: #ff5151;
}

.column img {
    max-width: 500px;
    max-height: 300px;
    width: auto;
    height: auto;
}

.eventos {
    background-color: #fffbce;
}

#infos {
    background-color: #fffbce;
}

#eventos-esporte {
    background-color: #fffbce;
}

#eventos-musica {
    background-color: #fffbce;
}

#eventos-inauguracao {
    background-color: #fffbce;
}

#eventos-comemorativos {
    background-color: #fffbce;
}

#eventos-esporadicos {
    background-color: #fffbce;
}

#eventos-teatro {
    background-color: #fffbce;
}

#eventos-informação {
    background-color: #fffbce;
    color: black;
}

.button {
    border-radius: 5px;
    background-color: #f4511e;
    border: none;
    color: white;
    text-align: center;
    font-size: 10px;
    padding: 10px;
    width: 40px;
    cursor: pointer;
    margin: 5px;
}
