title{
    background-color: black;
}


.container div {
    background-color: white;
    padding: 20px;
    border: 1px solid white;   
}

#header {
    grid-area: header;
    text-align: center;
}
#sidebar {
    grid-area: sidebar;
    height: 2vh;
    text-align: center;
    
}
#content {
    grid-area: content;
    height: 100vh;
}
#footer {
    grid-area: footer;
}




.classeblocos{
 font-family: sans-serif;
}
.columns {
    display:flex;
}
.column{
    background: white;
    border: 5px solid white ;
    flex: 1;
    padding: 100px;
}
.main-column {
flex:1;
}

.categorias {
    font-weight: bold
}